@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/completed-course/completed-course.css);
@import url(../blocks/completed-course/__title/completed-course__title.css);
@import url(../blocks/completed-course/__subtitle/completed-course__subtitle.css);
@import url(../blocks/completed-course/__text/completed-course__text.css);

@import url(../blocks/results/results.css);
@import url(../blocks/results/___text/results__text.css);
@import url(../blocks/results/__green/results__green.css);
@import url(../blocks/results/__red/results__red.css);
@import url(../blocks/results/__title/results__title.css);

* {
  border: 1px solid red;
}
.title {
  margin: 0;
  font: 700 40px/40px 'Golos', sans-serif;
}

.page {
  width: 1440px;
  margin: auto;
  padding: 0 60px;
}

.header {
  height: 72px;
  width: 100%;
  background-color: white;
  text-align: center;
}
.breadcrumbs {
  height: 80px;
  font-size: 40px;
  font: 700 40px/40px 'Golos', sans-serif;
  width: 100%;
  background-color: white;
  text-align: center;
}

.content {
  background-color: white;
  width: 872px;
  height: 580px;
}
.button {
  width: 184px;
  height: 48px;
}
.sidebar {
  width: 424px;
  height: 1000px;

}
.blocks {
  display: flex;
}
.submit {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
